*{
  background-color: #0a9396;
}

.cont{
display: flex;
flex-direction: column;
align-items: center;

}
.mat{
display: grid;
grid-template-columns: 150px 150px 150px ;
grid-template-rows: 150px 150px 150px;
}
.box{
  background-color: #fcf6bd;
  border-radius: 20px;
  margin: 5px 5px 5px 5px;
  font-size: 50px;
  color: red;

}

.res,.newgame{
  font-weight: bold;
  margin-top: 30px;
  padding: 1rem;
  background-color: #a3cef1;
  border-radius: 10px;
}
.w{
  font-size: 20px;
  color:chartreuse;
  margin-bottom: auto;
  
}
.over,.newgame{
  display: none;
}
.last{
  display:flex;
 justify-content: center;
 margin-left: 20px;
}



